@keyframes hc{
    0%{
        background: linear-gradient(90deg , blue 0%, blue 0%, #ccc 0%);
    }
    100%{
        background: linear-gradient(90deg , blue 0%, blue 100%, #ccc 100%);
    }
}

.progress-line{
    width: 100%;
    height: 10rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top:1rem solid #CCC;
    border-bottom:1rem solid #CCC;


    .step{
        font-size:14px;
        width:100px;
        height:50px;
        
        display:flex;
        align-items: center;
        justify-content: center;

        position: relative;

        .line{
            position: absolute;
            top:-2px;
            height: 4px;
            z-index:1;
        }

        .line.left{
            width: 40%;
            left:0;
        }

        .line.right{
            width: 40%;
            right: 0;
        }

        .step{
            width: 20px;
            height: 20px;
            border-radius:50%;
            position: absolute;
            top:-10px;
            left:40px;
            background: blue;
            color:#FFF;
            z-index:10;
        }
    }
}